body {
  /* Typography declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #4054FF;
  font-weight: 700;
}

a:hover, a:visited:hover {
  color: #009900;
}

a:visited {
  color: grey;
}

.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url('https://unsplash.imgix.net/reserve/O7A9fAvYSXC7NTdz8gLQ_IMGP1039.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.masthead-intro {
  /* Layout Declarations */
  margin-bottom: 0.1em;
  /* Typography Declarations */
  letter-spacing: 0.2em;
  font-size: 8em;
  color: grey;
}

.masthead-heading {
  margin-top: -0.3em;
  font-size: 13em;
  color: #292929;
  letter-spacing: 0.2em;
  line-height: 0.9em;
}

.introduction-section {
  background-color: white;
}

.location-section {
  background-color: #79E8E3;
}

.questions-section {
  background-color: #EAEBFF;
}

.introduction-section > div,
.location-section > div,
.questions-section > div,
.content-footer > div {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
}

h1 {
  text-align: center;
}

.introduction-section p,
.location-section p,
.questions-section p,
.content-footer p, ul {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.05em;
  
}

.questions-section > div > h2 {
  font-size: 1.2em;
  font-weight: 600;
  font-family: Courier;
  color: #292929;
  letter-spacing: 0.1em;
  /*Layout */
  margin: 2em 0 1em 0;
}

section > h1 {
  margin-top: 0em;
  padding-top: 1em;
}

section, footer {
  padding: 1em 1em 1em 1em;
}

section h1, footer h1 {
  margin: 0;
  padding: 0em 0em 0.5em 0em;
  text-align: center;
  font-family: arial;
  font-weight: 800;
  font-size: 3em;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border-bottom: solid 2px;
}

.content-footer {
  background-color: #6CBF9E;
  padding-bottom: 0.5em;
}

.social {
  padding: 0;
}

.social > li {
  display: inline-block;
}


@media only screen and (max-width: 800px) {
  .masthead {
    height: 22em;
    padding-top: 6.5em;
  }
  .masthead-intro {
    font-size: 3em;
    letter-spacing: 0.2em;
  }

  .masthead-heading {
    font-size: 4em;
    padding-top: 0.8em;
    letter-spacing: 0.2em;
  }

  section h1, footer h1 {
    font-size: 1.5em;
  }
}
